* {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}

.reset-buttons button {
  margin-top: 1ch;
  background: tomato;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columns */
  gap: 10px;
}

.operation-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two columns */
  grid-template-rows: auto auto 1fr; /* Three rows */
  gap: 10px;
  margin: auto;
}